<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Create Customer</h3>
<form th:action="@{/customer/create}" method="post" th:object="${customer}" novalidate="novalidate">
    <h4>Id</h4>
    <input type="number" th:field="*{id}">
    <h4>Name</h4>
    <input type="text" th:field="*{name}">
    <h4>Email</h4>
    <input type="email" th:field="*{email}">
    <h4>Address</h4>
    <input type="text" th:field="*{address}">
    <input type="submit" value="Save">
</form>
</body>
</html>