<div class="container " style="margin-top: 30px">

  <form class=" p-3">

    <div class="">
      <div class="container" style="background: #567FEA;height: 50px"><h2 style="text-align: center;line-height: 50px">THÊM NHÀ CUNG CẤP</h2></div>
      <div class="row mb-3 mt-3">
        <label for="maNhaCungCap" class="label-text col-3">Mã nhà cung cấp (<span style="color: red">*</span>)</label>
        <div class="col-9">
          <input class="form-control m-0" type="text" id="maNhaCungCap">
          <small style="color: red">Mã nhà cung cấp không được để rỗng</small>
        </div>
      </div>
      <div class="row mb-3 mt-3">
        <label for="ten" class="label-text col-3">Tên nhà cung cấp (<span style="color: red">*</span>)</label>
        <div class="col-9">
          <input class="form-control" type="text" id="ten">
          <small style="color: red">Tên nhà cung cấp không được để rỗng</small>
        </div>
      </div>
      <div class="row mb-3 mt-3">
        <label for="diaChi" class="label-text col-3">Địa chỉ (<span style="color: red">*</span>)</label>
        <div class="col-9">
          <input class="form-control" type="text" id="diaChi">
          <small style="color: red">Địa chỉ không được để rỗng</small>
        </div>
      </div>
      <div class="row mb-3 mt-3">
        <label for="soDienThoai" class="label-text col-3">Số điện thoại (<span style="color: red">*</span>)</label>
        <div class="col-9">
          <input class="form-control" type="text" id="soDienThoai">
          <small style="color: red">Số điện thoại không được để rỗng</small>
        </div>
      </div>
      <div class="row mb-3 mt-3">
        <label for="email" class="label-text col-3">Email (<span style="color: red">*</span>)</label>
        <div class="col-9">
          <input class="form-control" type="text" id="email">
          <small style="color: red">Email không được để rỗng</small>
        </div>
      </div>
      <div class="row mb-3 mt-3">
        <label for="ghiChu" class="label-text col-3">Ghi chú (<span style="color: red">*</span>)</label>
        <div class="col-9">
          <input class="form-control" type="text" id="ghiChu">
          <small style="color: red">Ghi chú không được để rỗng</small>
        </div>
      </div>
    </div>
    <div class="modal-footer">
     <a routerLink="/manufacturer/list"><button type="button" style="background: #567FEA" class="btn ve" data-dismiss="modal"><i class="icon-sidebar fa fa-reply "></i>
        Trở về
      </button></a>

      <button type="button" class="btn btn-info">Thêm mới</button>
    </div>
  </form>
</div>
