<div class="container ">
  <form>
    <div class="">
      <div class="container" style="background: #567FEA;height: 50px"><h2
        style="text-align: center;line-height: 50px">CHỈNH SỬA NHÀ CUNG CẤP</h2>
      </div>
      <div class="row mt-5">
        <label for="maNhaCungCap" class="label-text col-3 ">Mã nhà cung cấp (<span style="color: red">*</span>)</label>
        <div class="col-9">
          <input value="Vinamed" class="form-control m-0" type="text" id="maNhaCungCap">
          <small style="color: red">Mã nhà cung cấp không được để rỗng</small>
        </div>
      </div>
      <div class="row mb-3 mt-3">
        <label for="ten" class="label-text col-3">Tên nhà cung cấp (<span style="color: red">*</span>)</label>
        <div class="col-9">
          <input value="Công ty Vinamed" class="form-control" type="text" id="ten">
          <small  style="color: red">Tên nhà cung cấp không được để rỗng</small>
        </div>
      </div>
      <div class="row mb-3 mt-3">
        <label for="diaChi" class="label-text col-3">Địa chỉ (<span style="color: red">*</span>)</label>
        <div class="col-9">
          <input value="Hai Bà Trưng, Hà Nội"  class="form-control" type="text" id="diaChi">
          <small style="color: red">Địa chỉ không được để rỗng</small>
        </div>
      </div>
      <div class="row mb-3 mt-3">
        <label for="soDienThoai" class="label-text col-3">Số điện thoại (<span style="color: red">*</span>)</label>
        <div class="col-9">
          <input value="0891361699" class="form-control" type="text" id="soDienThoai">
          <small style="color: red">Số điện thoại không được để rỗng</small>
        </div>
      </div>
      <div class="row mb-3 mt-3">
        <label for="email" class="label-text col-3">Email (<span style="color: red">*</span>)</label>
        <div class="col-9">
          <input value="Vinamed@gmail.com" class="form-control" type="text" id="email">
          <small style="color: red">Email không được để rỗng</small>
        </div>
      </div>
      <div class="row mb-3 mt-3">
        <label for="ghiChu" class="label-text col-3">Ghi chú (<span style="color: red">*</span>)</label>
        <div class="col-9">
          <input class="form-control" type="text" id="ghiChu">
          <small style="color: red">Ghi chú không được để rỗng</small>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn ve" data-dismiss="modal"><i class="icon-sidebar fa fa-reply "></i> Trở
    về
  </button>
  <button type="button" class="btn   btn-warning">Chỉnh sửa</button>
</div>
