<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/jquery/jquery-3.6.0.min.js"></script>
    <style>
        img{
            width: 200px;
            height: 250px;
        }
    </style>
</head>
<body>
<p>
    <a href="/shopping-cart">Your cart</a>
</p>
<th:block th:each="product:${products}" >
<div class="card float-left" style="width: 18rem;">
    <img  th:src="${product.img}" class="card-img-top " alt="...">
    <div class="card-body">
        <h5 class="card-title" th:text="${product.name}"></h5>
        <p class="card-text" th:text="${product.price}"></p>
         <a th:href="@{/add/__${product.id}__(action='list')}"><button>Add To Cart</button></a>
         <a th:href="@{/view/__${product.id}__(action='list')}"><button>View</button></a>
    </div>
</div>
</th:block>
</body>
</html>