<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${message}"></p>
<form method="post" action="/create" th:object="${userDto}">
    <h3>Name</h3>
    <input type="text" th:field="*{name}">
    <small style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
    <h3>Age</h3>
    <input type="text" th:field="*{age}">
    <small style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></small>
    <input type="submit" value="create">

</form>

</body>
</html>